p {
  font-family: Roboto, arial;
}

body {
  margin: 0;
  padding-top: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 0rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
}

.logo img {
  width: 180px;
  height: 33.15px;
}

.navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -80px;
}

.navbar-text h3 {
  font-family: "Open Sans", sans-serif;
  margin-left: 40px;
  font-weight: 600;
  color: #888888;
  cursor: pointer;
}

.navbar-btn {
  padding-right: 100px;
}

.navbar-btn button {
  width: 182px;
  height: 52px;
  background-color: #e19f65;
  color: white;
  border-radius: 44px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.navbar-section-btn {
  margin-top: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-section-btn button {
  width: 239px;
  height: 36px;
  border-radius: 23px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: #7b462f;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #908f90;
}

.navbar-section-text {
  align-items: center;
  text-align: center;
  margin-top: 31px;
}

.navbar-section-text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 59px;
}

span {
  color: #e19f65;
}

.navbar-section-text h3 {
  margin-top: 26px;
  color: #7d7d7d;
  font-weight: 600;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}

.app-btn img {
  width: 151px;
  cursor: pointer;
}

.play-btn img {
  width: 151px;
  margin-left: 11px;
  cursor: pointer;
}

.header-img {
  display: flex;
  justify-content: center;
  margin-top: 67px;
}

.header-img img {
  width: 741px;
  z-index: -1;
}

.square {
  width: 100%;
  height: 196px;
  background-color: #e19f65;
  margin-top: -400px;
  z-index: 100;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 103px;
  padding-right: 100px;
  margin-top: 152px;
}

.section-2-text h2 {
  font-size: 46px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #111529;
  margin-top: 75px;
}

.section-2-text p {
  margin-top: 44px;
  color: #6d6968;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.section-2-text button {
  margin-top: 62px;
  padding: 18px;
  border-radius: 30px;
  background-color: white;
  border-style: solid;
  border-color: #ae6a64;
  color: #ae6a64;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.section-2-img img {
  width: 493px;
  height: 569px;
}

.testimony-section {
  width: 100%;
  height: 757px;
  background-color: #f7f7f7;
  margin-top: 230px;
  padding-top: 116px;
  padding-left: 119px;
  padding-right: 119px;
}

.testimony-section h1 {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #111529;
  font-size: 54px;
}

.testimony {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;

}

.testimony-1 {
  width: 585px;
  height: 290px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.testimony-2 {
  width: 585px;
  height: 290px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.testimony-img img {
  width: 159px;
  height: 239px;
  margin-top: 27px;
  margin-left: 25px;
}

.testimony-text {
  padding-left: 31px;
}

.icon img {
  width: 88px;
  height: 53px;
  margin-top: 49px;
  margin-left: -20px;
}

.testimony-text p {
  margin-top: 27px;
  color: #6D6968;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.testimony-text h2 {
  margin-top: 40px;
  color: #111529;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.download-section {
  margin-top: 156px;
  padding-left: 100px;
  padding-bottom: 197px;
}

.download-background {
  width: 1240px;
  height: 482px;
  background-color: #E19F65;
  border-radius: 32px;
  padding-left: 81px; 
  padding-top: 65px; 
}

.download-background h2 {
  color: #F7FCFC;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: normal;
  /* margin-top: 200px; */
}

.download-background p {
  font-family: "Open Sans", sans-serif;
  margin-top: 51px;
  color: #FEE3CF;
  font-size: 18px;
  font-weight: 500;

}

.download-general {
  display: flex;
}


.download-btn-2 {
  display: flex;
  margin-top: 59px;
}

.download-apple img {
  width: 193.11px;
  height: 57.26px;
}

.download-play img {
  width: 193.11px;
  height: 57.26px;
  margin-left: 25px;
}


.download-b {
  margin-top: -100px;
}

.download-b img {
  width: 550.65px;
  height: 627.41px;
}

.footer-section {
  display: flex;
  padding-left: 89px;
  padding-bottom: 40px;
}

.footer-logo img {
  width: 234.3px;
}

.footer-a {
  margin-left: 191px;
}

.footer-a h4 {
  margin-bottom: 47px;
  color: #0A142F;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  
}

.footer-b h4 {
  margin-bottom: 47px;
  color: #0A142F;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.footer-c h4 {
  margin-bottom: 47px;
  color: #0A142F;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.footer-a p {
  color: #0A142F;
  margin-top: 46px;
  font-weight: 500;
  font-size: 16.13px;
}

.footer-b p {
  color: #0A142F;
  margin-top: 46px;
  font-weight: 500;
  font-size: 16.13px;
}

.footer-c p {
  color: #0A142F;
  margin-top: 46px;
  font-weight: 500;
  font-size: 16.13px;
}

.footer-b {
  margin-left: 172px;
}

.footer-c {
  margin-left: 162px;
}

.footer-icon {
  padding-left: 100px;
}

.footer-icon img {
  width: 115.24px;
  margin-bottom: 100px;
}
